# 升级后的内容
Django==4.2.11
django_tinymce==3.6.1
docxtpl~=0.16.8
django-ninja~=1.1.0
django-ninja-jwt~=5.3.0
django-ninja-extra~=0.20.5
ninja_schema==0.13.6
numpy==1.24.2
pydantic~=2.7.0
python-docx==1.1.0
celery==5.3.1
mysqlclient~=2.2.4
# 生成环境才使用
waitress==3.0.0
# 暂时没用到写在项目里面
django-redis~=5.4.0
redis~=5.0.3
pyinstaller~=6.6.0