Django==4.2.11
django_tinymce==3.6.1
docxtpl==0.16.7
django-ninja==0.22.2
django-ninja-jwt==5.2.5
django-ninja-extra==0.19.1
ninja_schema==0.13.6
numpy==1.24.2
pydantic==1.10.14
python_docx==1.1.0
celery~=5.3.1